<%= render 'layouts/messages', object: odisseia %>

<%= form_for(odisseia, html: { autocomplete: 'off' }, data: { disabled: read_only }) do |form| %>
  <div class="page-header">
    <h4>Dados do Odisseia <small class="text-muted"> Informações sobre o Odisseia</small></h4>
  </div>
  <div class="row">
    <%= form.label :texto, class: 'col-2 col-form-label text-right' %>
    <div class="col-10">
      <%= form.text_area :texto, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <%= form.label :fonte, class: 'col-2 col-form-label text-right' %>
    <div class="col-10">
      <%= form.text_area :fonte, class: 'form-control' %>
    </div>
  </div>
  <div class="panel-buttons">
    <%= link_to odisseias_path, class: 'btn btn-default btn-lg' do %><i class="fa fa-undo"></i> Voltar<% end %>
    <% unless read_only %><% if can? :update, Odisseia %><%= form.button class: 'btn btn-primary btn-lg', data: { disable_with: 'Salvando...' } do %><i class="fa fa-check"></i> Salvar<% end %><% end %><% end %>
    <% if read_only %><% if can? :update, Odisseia %><%= link_to edit_odisseia_path(odisseia), class: 'btn btn-primary btn-lg' do %><i class="fa fa-pencil"></i> Editar<% end %><% end %><% end %>
  </div>
<% end %>
