<%= render 'layouts/messages', object: perfil %>

<%= form_for(perfil, html: { autocomplete: 'off' }, data: { disabled: read_only }) do |form| %>
  <div class="page-header">
    <h4>Dados do Perfil <small class="text-muted"> Informações sobre o Perfil</small></h4>
  </div>
  <div class="row">
    <%= form.label :descricao, class: 'col-2 col-form-label text-right' %>
    <div class="col-10">
      <%= form.text_field :descricao, class: 'form-control', maxlength: 255 %>
    </div>
  </div>
  <div class="panel-buttons">
    <%= link_to perfis_path, class: 'btn btn-default btn-lg' do %><i class="fa fa-undo"></i> Voltar<% end %>
    <% unless read_only %><% if can? :update, Perfil %><%= form.button class: 'btn btn-primary btn-lg', data: { disable_with: 'Salvando...' } do %><i class="fa fa-check"></i> Salvar<% end %><% end %><% end %>
    <% if read_only %><% if can? :update, Perfil %><%= link_to edit_perfil_path(perfil), class: 'btn btn-primary btn-lg' do %><i class="fa fa-pencil"></i> Editar<% end %><% end %><% end %>
  </div>
<% end %>
